.welcome{
  user-select: none;
  text-align: center;
  margin-top: 20vh;
  h1 {
    font-size: 30pt;
    margin: 0;
  }
  h3 {
    font-size: 20pt;
    margin: 15px 0 30px;
  }
  button {
    color: white;
    background-color: #528aff;
    font-size: 12pt;
    font-weight: 700;
    border: none;
    padding: 15px;
    border-radius: 15px;

    &:hover {
      background-color: #4271cd;
    }
  }
}
