.editor{
  flex: 100%;
  background-color: white;
  overflow-y:auto;
  padding: 20px 0 0 30px;
}

.title {
  border: none;
  outline: none;
  color: #262626;
  font-family: 'Roboto', sans-serif;
  font-size: 22pt;
  font-weight: 700;
  border-radius: 0;
  padding-bottom: 3px;
  border-bottom: solid 2px #262626;
  margin-bottom: 20px;
}
